---
layout: page
title: "我是谁"
description: "教小白精通编程"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

   <p> 
	hwdong，哈尔滨工业大学数学力学系（应用数学）本科和基础数学（硕士）毕业，南京航空航天大学航空宇航制造博士毕业（2001年3月） ， 
	   因高考填志愿被学校领导恐吓，将“清华复旦南大”志愿修改成从未听说过的“哈工大、湖南大学和扬州师范大学”（具体详情可看youtube频道hwdong）。
	   哈工大校长特批的历史上第一个可以不听课的学生，此后研究生只听过一次数学课，博士只听过1次数学课、2次德语课、1次CAD/CAM专业课。
	   因此，我虽然有大学文凭，实际都是自学的，没有接受过大学老师的知识传授（除大学第一年）。后再某垃圾高校工作，作为学院第2个引进的硕士生，
	   居然在申请讲师时被一个中专职校的给PK了，同样，在另一所大学，博士毕业拒绝了上海交大等高校的offer，到了一个垃圾学校，以为能成为矮子中的将军，
	   居然要6年才评上副教授，而同班同学可以一毕业就是正式副教授，而2010年左右3年正教授不是被不做科研的领导被pk，就是没有任何人竞争全票通过的情况下，
	   因为校领导一句话“这人论文怎么只有他一个作者”而2票泡汤，CNM的“公开公平公正”！从此发誓不再申请职称、项目、奖励、不参加任何组织活动、
	   不愿被人当猴耍！让你们这帮人来评价我的水平是对我的侮辱！<br/></br/>
	   
	   有人说：性格决定命运！ 我不赞同，应该是“环境决定命运”。因性格导致命运挫折的往往是正直、讲真话不虚伪的人。
	   有人说：“如果这个社会不好，你可以建设它”，我不赞同：在社会面前，个人是渺小的，尤其是黑恶社会面前，你是无能为力的，
	   你能做的只能是忍气吞声或远走他乡（有能力的话）。<br/><br/>
	   
	   心如死灰、绝望、无力、空虚、负能量是失败者的主旋律，空虚无聊心有不甘，百无聊赖之下，总要找点事情做，打算枯燥无味的时间，想到自己无一技之长，
	   唯有会点编程，于是就开始尝试录制一些编程方面的教学视频，打发时间，才有了下面的一系列活动和结果：<br/><br/>	  
	   
	   教小白学精通编程，提供计算机编程相关的开放课程，如各种编程语言（C/C++、Python、Java等）、
	    数据结构与算法、图形图像处理、机器学习、智能游戏等课程的教学文章和视频课程。 <br/>  <br/> 
            我的学习方法：<a href  ="https://youtu.be/iX3wh3JuIro"> 我为什么数学物理1个小时就交卷?2个小时的模拟考试为什么能半个小时到40分钟就交卷?我如何做到的?我的学习方法是什么？</a><br/><br/>
	    请大家多点击博客上面的广告，谢谢<br/><br/>
	    在YouTube和B站提供免费课程，腾讯课堂提供高质量的收费课程如C语言和C++版数据结构课程<br/> <br/> 
	   觉得网站文章或免费或收费课程对您有帮助，可以打赏！（当然白漂也没问题啊）<br/> 
	   <img src="/img2/hwdong_pro.jpg"  alt="微信公众号"hwdong编程"二维码" />	 
          <br/>  <br/> 

        如果我能财务自由，我一刻也不想呆在这里，我要到一个安静优美的地方去生活！这成了我现在的目标！
	</p>

    <h5>个人网址</h5>	    
    <ul>
	    
	    
	<li><a href="https://hwdong-net.github.io">博客https://hwdong-net.github.io</a></li> 
	<li><a href="https://www.youtube.com/c/hwdong">YouTube频道hqwdong</a></li> 
	<li><a href  ="http://space.bilibili.com/281453312"> bilibili(B站)hw-dong</a> </li>	
        <li><a href="https://twitter.com/hwdong">Twitter推特</a></li> 
	<li><a href="http://hwdong.ke.qq.com">腾讯课堂</a></li> 	
	<li>   <a href="https://t.me/hwdong">电报群：https://t.me/hwdong</a>   </li>
	<li>   QQ1群：101132160(已满)</li>
        <li>   QQ2群：376330161</li>
	<li><a href="https://medium.com/@hwdong"> medium</a></li>
     </ul>
     
    <h5>B站免费编程公开课</h5>
    <ul>
	 <li><a href  ="http://space.bilibili.com/281453312"> B站hw-dong免费编程公开课</a> </li>	
	<li><a href="https://www.bilibili.com/video/av35965452">C语言快速入门(6小时)-2018-11-15</a></li> 
        <li><a href="https://www.bilibili.com/video/av18629275">2小时从C到C++快速入门</a></li> 
	<li><a href="https://www.bilibili.com/video/av40959422">从C到C++快速入门(2019版)</a></li> 
	<li><a href="https://www.bilibili.com/video/av41132733">数据结构之排序</a></li> 	    
	<li><a href="https://www.bilibili.com/video/av45425371">C++版和C语言版数据结构(2019)课程介绍</a></li>
	<li><a href="https://www.bilibili.com/video/av34339182">（零基础）Python3 从入门到实践（Python教程2018）</a></li> 
	<!--    
	<li><a href  ="https://study.163.com/course/courseMain.htm?courseId=1004880010&share=2&shareId=400000000236023"> 网易云课堂hwdong:从C到C++快速入门</a> </li>
	<li><a href="https://study.163.com/course/courseMain.htm?courseId=1004489020&share=2&shareId=400000000236023">网易云课堂hwdong:C语言快速入门</a></li>    
       <li><a href="https://study.163.com/course/courseMain.htm?courseId=1006361059&share=2&shareId=400000000236023">（零基础）Python3 从入门到实践（Python教程2018）</a></li> 
  -->
</ul>
	
    <h5>腾讯课堂课程（建议）</h5>
    <ul>
          
        <li><a href="https://ke.qq.com/course/404761?tuin=ac5537fd">C++版本数据结构(2019)</a></li>
	<li><a href="https://ke.qq.com/course/406944?tuin=ac5537fd">C语言版本数据结构(2019)</a></li>
	<li><a href="https://ke.qq.com/course/405177?tuin=ac5537fd">迷宫问题的3种求解算法</a></li>  	    
	<li><a href="https://ke.qq.com/course/258409?tuin=ac5537fd">C语言版数据结构(2018)</a></li>	
        <li><a href="https://ke.qq.com/course/288985?tuin=ac5537fd">Android studio 3.2安卓开发入门</a></li>   

   </ul>
	<!--
    <h5>网易云课堂课程（不建议，因为平台收费太贵）</h5>
    <ul>
          
        <li><a href="https://study.163.com/course/courseMain.htm?courseId=1209131812&share=2&shareId=400000000236023">C++版本数据结构(2019)</a></li>
	<li><a href="https://study.163.com/course/courseMain.htm?courseId=1209184840&share=2&shareId=400000000236023">C语言版本数据结构(2019)</a></li>
	<li><a href="https://study.163.com/course/introduction.htm?share=2&shareId=400000000236023&courseId=1004703004&_trace_c_p_k2_=749d6f8680d24620875b7cc96cd9d7e4">迷宫问题的3种求解算法</a></li>  	    
	<li><a href="https://study.163.com/course/introduction.htm?share=2&shareId=400000000236023&courseId=1004703004&_trace_c_p_k2_=749d6f8680d24620875b7cc96cd9d7e4">C语言版数据结构(2018)</a></li>	
        <li><a href="https://study.163.com/course/courseMain.htm?courseId=1004489020&share=2&shareId=400000000236023">C语言快速入门</a></li> 
	    
	    <li><a href="https://study.163.com/course/introduction.htm?share=2&shareId=400000000236023&courseId=1004929015&_trace_c_p_k2_=b16308e9f5a646a894ff194626e55b89">C++11/14第一季</a></li>   

   </ul>
-->

		
    <h5>相关链接</h5>
    <ul>
	<li><a href="https://www.youtube.com/channel/UCIJLimsCMSfc3wHmevgj8Ng">Youtube频道</a></li>	
        <li><a href="http://space.bilibili.com/281453312">B站：hw-dong</a></li>
        <li><a href="https://www.weibo.com/6762417916">微博：hw-dong</a></li>
      <!--  <li><a href="https://weibo.com/u/6196175626?is_all=1">微博：教小白精通编程</a></li>  -->
	   
        <li><a href="https://ke.qq.com/course/404761?tuin=ac5537fd">腾讯课堂</a></li>        
    </ul>
	
     <h5>网友同学评价</h5>
	<a href="https://www.bilibili.com/video/av18629275">2小时从C到C++快速入门</a>
	
	<p>
		<img src="/img2/t.jpg"  alt="B站学生评价" />
		<img src="/img2/t2.png"  alt="B站学生评价" />
		<img src="/img2/t3.png"  alt="B站学生评价" />
		</p>
	
	
<p>
七奏丶</br>
我觉得老师讲的很好啊，除了口音有些重外。</br>
为啥没人看...</br></br>

强威2017</br>
讲的真是太好了</br></br>

alittlemc</br>
很棒,我找这样的视频很久了,我C基础还算扎实,想学C++,网上的视频都是0基础入门,跳过怕错过知识点,全部看又很耗时间,今天看这个视频搜获很大</br></br>

NaKadaj</br>
视频超棒的 也适合不难的期末考复习</br>
但是并不只2个小时 越往后越长(中间有小惊喜) 所以不要等考试前一晚再听 一不小心就听不完了_(•̀ω•́ 」∠)_</br></br>

阿甘冬冬</br>
老师讲的太好了，比翁大佬讲的简单多了。建议先看这个再去看翁老的视频</br></br>

比奈森妙巧</br>
视屏都是干货非常棒！但是有个一个不情之请，希望老师能加上字幕</br></br>

自定义は</br>
老师真的讲的好，但为啥播放量这么少呢</br></br>

Sagittarius黑蛟</br>
讲得很用心，已持续关注！老师是盐城滨海人吗？滨普听着很熟悉哈哈~</br></br>

Hanneul要学习</br>
南京口音的老师，听着很亲切</br></br>

	</p>
	
	<a href="https://www.bilibili.com/video/av40959422">从C到C++快速入门(2019版)</a>
	<p>
浅怯99</br>
1.5倍速看完，好评，准备看python教程了</br></br>

本因坊刘能</br>
up讲得很好，让我在寒冷的情人节感受到一丝温暖。</br>
希望可以出几个c++练手小项目的视频超棒 </br></br>

贤者G石</br>
总算找到C向C++过渡了，舒坦</br></br>

ss不可强求</br>
讲的都是干货</br>

公子仲然</br>
喜欢这种讲课方式！期待up出新的(=・ω・=)</br></br>

西木西木194</br>
up主讲的很好呀！</br></br>

grjcly</br>
醍醐灌顶，简洁而又实用。太适合C到C++的过度了，真心感激！！！</br></br>

公子仲然</br>
喜欢这种讲课方式！期待up出新的(=・ω・=)</br></br>
		
</p>
	
<a href="https://www.bilibili.com/video/av41132733">数据结构之排序</a>
	
<p>

夕夕的茜茜</br>
讲的很好，加油up！</br></br>

纪小懒爱你呦</br>
up主还有课程么，讲的很好</br></br>

	</p>
	
<a href="https://space.bilibili.com/281453312/channel/detail?cid=55360">Python入门与实践</a>	

<p>
41980055237_bili</br>
支持支持，楼主讲的很好</br></br>

彭志气</br>
从另外一个视频看到您的留言来的，真的厉害。谢谢老师</br></br>

奇奇卡</br>
老教授讲课还真是一点都不拖泥带水，就喜欢这种简洁雷利的风格！</br></br>

zzzzzzzz3</br>
简单实用，深入浅出，非常棒！</br></br>

超维视界</br>
感谢up，讲的很清晰</br></br>
	
	</p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about'
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

